body {
    margin: 1rem 3rem 1rem 3rem;
}

/* HEADER */
#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
#header_name {
    font-size: 2rem;
    background-color: aquamarine;
}
#header_job {
    font-size: 1rem;
    background-color: blanchedalmond;
}
#header_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: pink;
}
.header_icon {
    height: 3rem;
    width: 3rem;
    margin-left: 1rem;
    margin-right: 0.3rem;
}

/* CONTENTS */
hr {
    border: 0.1rem solid black;
}

/* EDUCATION */
#edu {
    background-color: lightyellow;
    margin-top: 3rem;
}
#edu_title {
    font-size: 2rem;
    font-weight: bold;
}
.edu_item {
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.edu_name {
    font-weight: bold;
}
.edu_score {
    float: right;
}

/* EXPERIENCE */
#work {
    background-color: deepskyblue;
    margin-top: 3rem;
}
#work_title {
    font-size: 2rem;
    font-weight: bold;
}
.work_item {
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.work_company {
    background-color: beige;
}
.work_name {
    font-weight: bold;
}
.work_pos {
    float: right;
    font-style: italic;
}
.work_job {
    font-size: 1rem;
}
.work_li {
    font-size: 1.3rem;
}

.major_grid {
    display: grid;
    margin-left: 3%;
    grid-template-columns: 1fr 1.5fr 6fr;
    grid-gap: 10px;
    background-color: floralwhite;
}
.major_title {    
    grid-row: span 3; /* item 개수를 명시적으로 지정 */
    text-align: right;
    padding-right: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    border-right: 0.1rem solid black;
}
.major_img {
    height: 10rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size : 100% 100%;
    border: 1px solid black;
}
.major_text {
    align-self: center;
    border: 1px solid black;
}




#paper {
    background-color: orange;
    margin-top: 3rem;
}
#paper_title {
    font-size: 2rem;
    font-weight: bold;
}
.paper_grid {
    display: grid;
    grid-template-columns: 2fr 5fr;
    background-color: darkcyan;
}
.paper_img {
    margin: 1rem;
    height: 13rem;
    background-repeat: no-repeat;
    background-position: center;
    /* background-size : contain;  */
    background-size : 100% 100%;
}
.paper_text {
    background-color: lightpink;
    margin-left: 1rem;
    align-self: center;
}
.paper_name {
    font-weight: bold;

}
.paper_author {
    font-weight: lighter;

}
.paper_conference {
    font-style: italic;
}
