body {
    margin: 1rem 3rem 1rem 3rem;
}

/* HEADER */
#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
#header_name {
    font-size: 2rem;
    background-color: aquamarine;
}
#header_job {
    font-size: 1rem;
    background-color: blanchedalmond;
}
#header_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: pink;
}
.header_icon {
    height: 3rem;
    width: 3rem;
    margin-left: 1rem;
    margin-right: 0.3rem;
}

/* CONTENTS */
hr {
    border: 0.1rem solid black;
}

/* EDUCATION */
#edu {
    background-color: lightyellow;
    margin-top: 3rem;
}
#edu_title {
    font-size: 2rem;
    font-weight: bold;
}
.edu_item {
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.edu_name {
    font-weight: bold;
}
.edu_score {
    float: right;
}

/* EXPERIENCE */
#work {
    background-color: deepskyblue;
    margin-top: 3rem;
}
#work_title {
    font-size: 2rem;
    font-weight: bold;
}
.work_item {
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.work_company {
    background-color: beige;
}
.work_name {
    font-weight: bold;
}
.work_pos {
    float: right;
    font-style: italic;
}
.work_job {
    font-size: 1rem;
}
.work_li {
    font-size: 1.3rem;
}
.major_box {
    display: flex;
    flex-direction: row;
    margin-left: 3rem;
}
.major_title {
    vertical-align: top;
    font-size: 2rem;
    font-weight: bold;
    padding-right: 1rem;
    border-right: 2px solid #000;
    margin-right: 1rem;
    background-color: violet;
}
.major_itemBox {
    display: inline-flex;
    flex-direction: column;
}
.major_item {
    display: inline-flex;
    flex-direction: row;
    height: 5rem;
    background-color: red;
}


#paper {
    background-color: orange;
    margin-top: 3rem;
}
#paper_title {
    font-size: 2rem;
    font-weight: bold;
}
.paper_item {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.paper_img {
    width: 20rem;
    height: 10rem;
    background-repeat: no-repeat;
    background-position: center;
    /* background-size : contain;  */
    background-size : 100% 100%;
}
.paper_text {
    background-color: lightpink;
    margin-left: 1rem;
    width: 100%;
    align-self: center;
}
.paper_name {
    font-weight: bold;

}
.paper_author {
    font-weight: lighter;

}
.paper_conference {
    font-style: italic;
}
.paper_link {

}