body {
    margin: 1rem 3rem 1rem 3rem;
}

/* HEADER */
#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
#header_name {
    font-size: 2rem;
    background-color: aquamarine;
}
#header_job {
    font-size: 1rem;
    background-color: blanchedalmond;
}
#header_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: pink;
}
.header_icon {
    height: 3rem;
    width: 3rem;
    margin-left: 1rem;
    margin-right: 0.3rem;
}

/* 공통 요소 */
.hr_bold {
    border: 0.1rem solid black;
}
.hr_light {
    border: 0.05rem solid black;
    margin: 0;
}

/* EDUCATION */
#edu {
    background-color: lightyellow;
    margin-top: 3rem;
}
#edu_title {
    font-size: 2rem;
    font-weight: bold;
}
.edu_item {
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.edu_name {
    font-weight: bold;
}
.edu_score {
    float: right;
}

/* EXPERIENCE */
#work {
    background-color: deepskyblue;
    margin-top: 3rem;
}
#work_title {
    font-size: 2rem;
    font-weight: bold;
}
.work_item {
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.work_company {
    background-color: beige;
}
.work_name {
    font-weight: bold;
}
.work_pos {
    float: right;
    font-style: italic;
}
.work_job {
    font-size: 1rem;
}
.work_li {
    font-size: 1.3rem;
}

#major_title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 3rem;
}

#major_table {
    display: inline-table;
    margin-left: 3rem;
    border: 1px solid black;
    border-collapse: collapse;
}

.major_item {
    display: table-row;
    
}
.major_img {
    display: table-cell;
    width: 16rem;
    height: 12rem;
    padding: 1rem;
    border: 1px solid black;
}
.major_text {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    padding: 1rem;
    border: 1px solid black;
}







#paper {
    background-color: orange;
    margin-top: 3rem;
}
#paper_title {
    font-size: 2rem;
    font-weight: bold;
}
.paper_grid {
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    background-color: darkcyan;
}
.paper_img {
    margin: 1rem;
    width: 20rem;
    height: 15rem;
    background-repeat: no-repeat;
    background-position: center;
    /* background-size : contain;  */
    background-size : 100% 100%;
}
.paper_text {
    background-color: lightpink;
    margin-left: 1rem;
    align-self: center;
}
.paper_name {
    font-weight: bold;

}
.paper_author {
    font-weight: lighter;

}
.paper_conference {
    font-style: italic;
}
